.message-bot {
	position: relative;
	background: #273ab0;
    border-radius: .4em;
    padding: 1em;
    margin-left: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
}

.message-bot:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.656em solid transparent;
	border-right-color: #273ab0;
	border-left: 0;
	margin-top: -0.656em;
	margin-left: -0.656em;
}

.message-user {
	position: relative;
	background: #3eac9c;
    border-radius: .4em;
    padding: 1em;
    margin-right: 1em;
	margin-left: 4em;
	margin-bottom: 1em;
}

.message-user:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.656em solid transparent;
	border-left-color: #3eac9c;
	border-right: 0;
	margin-top: -0.656em;
	margin-right: -0.656em;
}

* {
    font-size: 100%;
    font-family: Roboto;
}